body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 960px;
    flex-shrink: 0;
}

.square {
    border: 1px solid black;
    background-color: whitesmoke;
}

.active {
    background-color: black;
}